.hero__title{
    font-size: var(--fs-900);
    line-height: var(--lineheight-2);
    padding-top: var(--lineheight-3);
}
.hero p{
    font-size: var(--fs-600);
    margin: var(--lineheight-2) 0 0;
    line-height: var(--lineheight-2);
}
.hero .button {
    margin-top: var(--lineheight-3);
    margin-bottom: var(--lineheight);
}
/* UNDER THE FOLD*/
.tile-section {
    display: grid;
    grid-auto-flow: row;
    margin-top: var(--lineheight-4);
}
.tile-section__birrificio__img-container {
    width: 100%;
    height: 400px;
}
.tile-section img {
    width: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    height: 400px;
    border-radius: 0 20px 20px 0;
}
.tile-section img::before {
    width: var(--column-width-7);
}
.tile-section__content p {
    margin: var(--lineheight-2) 0 0;
}
.tile-section__content button {
    margin-top: var(--lineheight);
}

.taproom {
    margin-top: var(--lineheight-4);
    display: grid;
    grid-auto-flow: column;
}


.form-rivenditori {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-rivenditori li {
    margin-top: var(--lineheight);
}
.form-rivenditori input,
.form-rivenditori textarea {
    height: var(--lineheight-2);
    width: 100%;
}
.form-rivenditori__button button {
    width: 100%;
}
.form-rivenditori__messaggio textarea {
    height: var(--lineheight-6);
}
.form-rivenditori__nome-cognome {
    grid-area: nome-cognome;
}
.form-rivenditori__email {
    grid-area: email;
}
.form-rivenditori__messaggio {
    grid-area: messaggio;
}
.form-rivenditori__privacy-policy {
    grid-area: priv-policy;
    display: flex;
    align-items: center;

}
.form-rivenditori__button {
    grid-area: button;
}
.form-rivenditori__privacy-policy input {
    width: 16px;
    margin-right: 16px;
}


/* Large Screen */
@media screen and (min-width: 55em) {
    .hero__title {
        font-size: var(--fs-1000);
        line-height: 112px;
    }
    .hero p {
        width: var(--column-width-7);
    }
    /* UNDER THE FOLD*/
    .tile-section,
    .taproom {
        grid-auto-flow: column;
        grid-template-columns: var(--column-width-7) auto;
        column-gap: var(--gutter);
    }

    .tile-section__birrificio__img-container {
        height: 500px;
    }
    .tile-section img {
        width: calc(var(--column-width-7) * 0.86243386 + var(--margin));
        height: 500px;
    }
    .tile-section__birrificio {
        width: 100%;
        justify-self: right;
    }
    .tile-section__birre p {
        margin-top: var(--lineheight-2);
        width: calc(var(--column-width-6)/0.583333);
    }
    .shop,
    .rivenditori {
        text-align: center;
    }


    .form-rivenditori {
        text-align: left;
        display: grid;
        width: var(--column-width-8);
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'nome-cognome messaggio'
                             'email messaggio'
                             'priv-policy messaggio'
                             'button messaggio';
        column-gap: calc(var(--gutter) * 2);
    }

    .form-rivenditori__messaggio textarea {
        height: calc(100% - var(--lineheight));
    }
}
@media screen and (min-width: 90em) {
    .form-rivenditori {
        width: var(--column-width-6);
    }
}

/* Stretch paragraphs */
@media screen and (min-width: 92em){
    .hero p{
        width: var(--column-width-5);
    }
    /* UNDER THE FOLD*/
    .tile-section__birre p {
        width: calc(var(--column-width-5)/0.583333);
    }
    .tile-section__birrificio {
        width: calc(var(--column-width-4)/0.41);
        justify-self: right;
    }
}