.hero .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: var(--lineheight);
}
.hero__title {
    font-size: var(--fs-900);
    margin-top: var(--lineheight-2);
}
.subheading {
    font-size: var(--fs-800);
    line-height: var(--lineheight-2);
    color: var(--clr-primary-400);
}
.novita-list__item {
    font-size: var(--fs-600);
    line-height: var(--lineheight-2);
}
.novita-list__item strong {
    font-weight: var(--fw-bold);
}
.hero .button {
    margin-bottom: var(--lineheight);
}
.image-show__item img {
    margin: 0 auto;
}

@media screen and (min-width: 55em) {
    .hero .container {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: var(--column-width-7) auto;

        justify-items: start;
    }
    .hero p{
        width: calc(var(--column-width-5)/0.583);
    }
    .image-show {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
}
@media screen and (min-width: 70em) {

    .image-show__item img{
        position: absolute;
        width: var(--column-width-5);
        max-width: 700px;
        box-shadow: 0 0 10px 1px var(--clr-neutral-800);
        border-radius: 6px;
        transition: 0.4s ease-out;
    }
    .heading-subheading,
    .novita-list,
    .hero p{
        z-index: 50;
    }
    .image-show__item:nth-child(1) img{
        bottom: 30%;
        left: 50%;
        transform: scale(0.9);
        z-index: 10;
    }
    .image-show__item:nth-child(2) img{
        bottom: 7%;
        left: 43%;
        transform: scale(0.8);
        rotate: 10deg;
        z-index: 15;
    }
    .image-show__item:nth-child(3) img{
        bottom: 5%;
        left: 58%;
        transform: scale(0.6);
        rotate: -5deg;
        z-index: 20;
    }
    .image-show__item:nth-child(4) img{
        bottom: 50%;
        left: 59%;
        transform: scale(0.7);
        rotate: 5deg;
        z-index: 3;
    }
    .image-show__item:nth-child(5) img{
        bottom: 50%;
        left: 37%;
        transform: scale(0.5);
        rotate: -15deg;
        z-index: 5;
    }

    .image-show__item img:hover {
        transform: scale(1);
        rotate: 0deg;
        z-index: 99;
    }
}

/* ============= UNDER THE FOLD ============= */

/* VISITE E DEGUSTAZIONI */

.section-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--lineheight-2);
    margin-top: var(--lineheight);
}
.tile-section h3 {
    font-weight: bold;
    font-size: var(--fs-700);
    line-height: var(--lineheight-2);
}
.tile-section__item {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--gutter);
    align-items: center;

    margin-top: var(--lineheight-2);
}
.tile-section__content button{
    height: var(--lineheight-2);
}
.prezzo {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-600);
    line-height: var(--lineheight);
}
.tile-section img {
    position: relative;
    width: 100%;
    border-radius: 6px;
}

@media screen and (min-width: 55em) {
    .tile-section {
        grid-template-columns: 1fr 1fr;
    }
    .tile-section__item--degusta img {
        grid-row: 1 / 2;
    }
}

/* PREMI */

.premi-list {
    text-align: center;
    font-weight: bold;
    font-size: var(--fs-500);
    margin-top: var(--lineheight);

    display: flex;
    flex-direction: column;
    row-gap: var(--lineheight-2);
    column-gap: var(--gutter);
}
.parenthesis {
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
}

@media screen and (min-width: 55em) {
    .premi-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .premi-list__item:nth-child(1) {
        flex-basis: 100%;
    }
}

/* COLLABORAZIONI E PROGETTI */

.collab-progetti {
    text-align: center;
}

/* ============= STRETCH PARAGRAPHS ============= */

@media screen and (min-width: 92em){
    .hero p{
        width: calc(var(--column-width-5)/0.583);
    }
    .tile-section__item__content p {
        width: calc(var(--column-width-5)*2);
    }
}