.form-container {
    background-color: var(--clr-neutral-500);
    border: 3px solid var(--clr-neutral-800);
    border-radius: 10px;
    margin-top: var(--lineheight);
}
.cards-container {
    width: 100%;
}
.card h2 {
    font-size: var(--fs-700);
    font-weight: var(--fw-semibold);
    text-align: center;
    margin-top: var(--lineheight-2);
}
form {
    padding: 2em 3.18em;
}
.cards-container .button {
    font-size: var(--fs-500);
}
@media screen and (min-width: 55em) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        align-self: stretch;
        gap: var(--gutter);
    }
    .card {
        width: 100%;
    }
}
@media screen and (min-width: 70em) {
    .cards-container {
        gap: calc(var(--column-width-2) + var(--gutter)*2);
    }
}
@media screen and (min-width: 90em) {
    .cards-container {
        grid-template-columns: repeat(2, var(--column-width-4));
    }
}