body {
    text-align: center;
}
h2 {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-800);
    line-height: var(--lineheight-2);
    display: inline-block;
}
h1 {
    margin-top: var(--lineheight-2);
    line-height: var(--lineheight-2);
}
.container {
    margin: 0 auto;
}

.contatti__item {
    margin-top: var(--lineheight-2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gutter)*2);
}
.contatti__item img {
    width: 100%;
    height: var(--lineheight-3);
    order: -1;
}
.recapiti,
address {
    flex-basis: 100%;
    font-size: var(--fs-500);
    font-weight: var(--fw-medium);
}
.emails__item,
.recapiti,
.map {
    margin-top: var(--lineheight);
}
.emails__item a{
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
}
.map {
    height: 400px;
    width: calc(var(--column-width-5)*2 + var(--gutter)/2);
}

@media screen and (min-width: 65em) {
    body {
        text-align: left;
    }
    .contatti__item {
        justify-content: flex-start;
    }
    .contatti__item img {
        width: auto;
        order: 0;
    }
}

/* FORMS COLUMN */

.container-form {
    padding: 0 0 var(--lineheight);
}
.container-form--clienti {
    background-color: var(--clr-primary-400);
    box-shadow: 0 0 0 100vmax var(--clr-primary-400);
    clip-path: inset(0 -50vmax 0);
}
.container-form--rivenditori {
    background-color: var(--clr-neutral-800);
    box-shadow: 0 0 0 100vmax var(--clr-neutral-800);
    clip-path: inset(0 -50vmax -100vmax);
}
.container-form h2 {
    margin: 0;
    padding-top: var(--lineheight-2);

}
.container-form p {
    margin-top: var(--lineheight);
}
@media screen and (min-width: 55em) {
    .container-form {
        padding: 0 0 var(--lineheight) calc(var(--gutter)*2);
    }
    .container-form--clienti {
        clip-path: inset(0 -50vmax 0 0);
    }
    .container-form--rivenditori {
        clip-path: inset(0 -50vmax -100vmax 0);
    }
    .container-form button {
        width: auto;
    }
}

@media screen and (min-width: 70em) {
    .forms form {
        width: calc(var(--column-width-4)*2);
    }
}