/* Ordini */
.ordini-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: var(--clr-neutral-100);
}

.ordini-table thead {
    background-color: var(--clr-neutral-500);
    font-weight: var(--fw-medium);
}

.ordini-table th,
.ordini-table td{
    padding: 1em;
    overflow: hidden;
    text-align: left;
}

.ordini-table th:first-child {
    width: 45%;
}

.ordini-table th:last-child {
    width: 80px;
}

.ordini-table td:first-child {
    display: flex;
    gap: 1em;
    align-items: center;
}

.ordini-table td:not(:first-child) {

}

.ordini-table tbody tr {
    border-bottom: 2px solid var(--clr-neutral-500);
}

.ordini-table img {
    height: 100%;
}