.cards-container {
    width: 100%;
}

.gestisci-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--lineheight);
    gap: 5px;
}
