:root {
    --color: rgba(236, 103, 103, 0.1);
    --repeating-width: calc(100% / var(--columns));
}

@media (min-width: 55em) {
    :root {
        --color: rgba(87, 134, 234, 0.23);
    }
}

html::before {
    position: absolute;
    content: "";
    width: calc(100% - 2*var(--margin));
    max-width: var(--max-width);
    min-height: 1000%;
    margin-left: auto; margin-right: auto;
    opacity: .75;
    top: 0; left: 0; right: 0; bottom:0;
    z-index: 1000;
    pointer-events: none;

    background-size: calc(100% + var(--gutter)) 100%;
    background-image:
        repeating-linear-gradient(
            to right,
            var(--color),
            var(--color) var(--column-width),
            transparent var(--column-width),
            transparent var(--repeating-width)
        ),
        repeating-linear-gradient(
            to bottom,
            var(--color),
            var(--color) var(--lineheight),
            transparent var(--lineheight),
            transparent calc(var(--lineheight)*2)
        );
}