body {
    overflow: hidden;
}
.hero {
    min-height: calc(100vh - var(--lineheight-5));
}

.hero .container {

    height: calc(100vh - var(--lineheight-3));
}

#nome-birra {
    padding-top: var(--lineheight);
}

#stile-birra {
    color: var(--clr-primary-300);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    line-height: var(--lineheight-2);
}

#tagline-birra {
    font-size: var(--fs-600);
    font-weight: var(--fw-medium);
    margin-top: var(--lineheight);
}

#descrizione-birra {
    margin-top: var(--lineheight);
}

.left form {
    text-align: center;
    margin-top: var(--lineheight);
}

.left .button--shop {
    width: inherit;
}

.slide-wrapper {
    position: relative;
}

.img-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: baseline;
    gap: var(--gutter);
    transition: all 0.5s;
}

.item {
    flex: 0 0 var(--column-width-2);
    transition: all 0.5s;
}

.item img {
    margin: 0 auto;
}

#active {
    transform: translateY(calc(var(--lineheight-2) * -1)) scale(1.2);
}

.slide-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: var(--lineheight);
    background-color: white;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    z-index: 1;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 10%;
}

#slide-arrow-next {
    right: 10%;
}

@media screen and (min-width: 55em) {
    .hero .container {
        display: grid;
        align-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 33% auto;
        column-gap: var(--gutter);
        padding-top: var(--lineheight);
        height: calc(100vh - var(--lineheight-6));
    }

    .scaffale-vuoto {
        text-align: center;
        grid-column: 1/3;
    }

    .left form {
        text-align: left;
    }

    #descrizione-birra {
        margin-top: var(--lineheight-3);
    }

    .slide-wrapper {
        grid-column: 1 / 3;
    }

    #slide-arrow-prev {
        left: 35%;
    }

    #slide-arrow-next {
        right: 35%;
    }
}

@media screen and (min-width: 90em) {
    #descrizione-birra {
        max-width: var(--column-width-10);
    }
}

@media screen and (min-width: 110em) {
    #descrizione-birra {
        max-width: var(--column-width-8);
    }
    .active {
        transform: translateY(calc(var(--lineheight-3) * -1)) scale(1.25);
    }
}

/* ================ INFO BIRRA ================ */

#info-birra {
    display: none;
}

#info-birra .section-title {
    text-align: center;
    font-size: var(--fs-900);
    font-weight: var(--fw-bold);
}

.descrizione h3 {
    margin-top: var(--lineheight-2);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);

}

.descrizione p {
    font-size: var(--fs-500);
}

@media screen and (min-width: 55em) {
    #info-birra section {
        width: var(--column-width-5);
    }
}