/* ====================== HEADER ====================== */

header {
    background-color: var(--clr-neutral-100);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    outline: 2px solid var(--clr-neutral-800);
}
.header-logo {
    display: flex;
    justify-content: center;
}
.header-logo img {
    height: var(--lineheight-3);
}

/* HIDDEN NAV */

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100vh;
    top: var(--lineheight-3);
    left: 0;

    visibility: hidden;;
    gap: 3em;
    z-index: 5;
}
.nav__list__item {

}

/* Hamburger Icon */

.nav__toggle {
    display: none;
}
.nav__toggle-label {
    position: absolute;
    left: var(--margin);
    top: var(--lineheight);
    cursor: pointer;
    z-index: 10;
}
.nav__toggle-label span {
    display: block;
    background: var(--clr-neutral-800);
    height: 8px;
    width: 40px;
    transform-origin: 0 50%;
    transition: all 0.3s cubic-bezier(0, 1, 1, 1);
}
.nav__toggle-label span:last-child {
    margin-top: 12px;
}

/* Hidden Nav Background */
.nav__bg {
    position: absolute;
    top: var(--lineheight);
    left: var(--margin);
    width: 1px;
    height: 1px;
}
.nav__bg::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--clr-primary-400);

    width: 280vmax;
    height: 280vmax;
    top: -142vmax;
    right: -142vmax;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
}

/* HIDDEN NAV OPENED */

.nav__toggle:checked ~ .nav__list {
    visibility: visible;
}
.nav__toggle:checked ~ .nav__list .nav__list__item {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s cubic-bezier(0, 1, 1, 1) 0.5s,
                opacity 1s cubic-bezier(0, 1, 1, 1) 0.5s;
}
.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(2) {
    transition-delay: 0.55s;
}
.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(3) {
    transition-delay: 0.6s;
}
.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(4) {
     transition-delay: 0.65s;
}
.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(4) {
    transition-delay: 0.7s;
}
.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(5) {
    transition-delay: 0.75s;
}

.nav__toggle:checked ~ .nav__toggle-label span:nth-child(1) {
    transform: rotate(45deg) translateY(-6px);
}
.nav__toggle:checked ~ .nav__toggle-label span:nth-child(2) {
    transform: rotate(-45deg) translateY(6px);
}

.nav__toggle:checked ~ .nav__bg::after {
    transform: scale(1);
    z-index: 1;
}

/* NAV LINKS */

.nav__list__item {
    position: relative;
    transform: translateX(-2em);
    opacity: 0;
    transition-duration: 0.2s;
}
.nav__list__item a{
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    color: inherit;
    text-decoration: none;
    font-size: var(--fs-800);
    font-weight: var(--fw-semibold);
    cursor: pointer;
    padding: 0.5em;
}
.nav__list__item a:hover,
.nav__list__item a:active {
    font-weight: var(--fw-bold);
    transition: 0.15s ease-out;
}
/* evita che il layout shifti a causa del bold */
.nav__list__item a::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    font-weight: var(--fw-bold);
}

.nav__list__item a::before {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.5px;
    border-bottom: solid 5px var(--clr-neutral-100);
    transition: width ease-out 0.4s;
}
.nav__list__item a:hover::before,
.nav__list__item a:active::before {
    width: 100%;
}
.nav__list__item a:not(:hover)::before {
    left: auto;
    right: 0;
    transition: width 0.4s ease-in-out;
}

/* CURRENT PAGE UNDERLINE */

.active a{
    color: var(--clr-neutral-800);
    font-weight: var(--fw-bold);
    border: solid 5px var(--clr-neutral-100);
}
.active a:hover::before,
.active a:active::before {
    width: 0;
}

/* NAV RIGHT */

.nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;

    position: absolute;
    top: var(--lineheight);
    right: var(--margin);
}

.shopping-cart-slide {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-neutral-100); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
    z-index: 100;
}
/* The sidebar links */
.shopping-cart-slide a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.shopping-cart-slide a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.shopping-cart-slide .closebtn {
    position: absolute;
    top: var(--lineheight);
    right: var(--margin);
    font-size: 60px;
}
.shopping-cart-link {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
}
.shopping-cart {
    cursor: pointer;
}

@media screen and (min-width: 65em) {
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        position: relative;
        top: 0;
        height: auto;
        visibility: visible;
    }
    .nav__list__item {
        opacity: 1;
    }
    .nav__toggle,
    .nav__toggle-label {
        display: none;
    }
    .nav__right {
        position: relative;
        top: 0;
        right: 30px;
    }

    /* NAV LINKS */

    .nav__list__item {
        position: relative;
    }
    .nav__list__item a{
        font-size: var(--fs-400);
        font-weight: var(--fw-semibold);
    }
    .nav__list__item a:hover,
    .nav__list__item a:active {
        color: var(--clr-primary-400);
    }
    /* evita che il layout shifti a causa del bold */
    .nav__list__item a::after {
        content: attr(data-text);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        pointer-events: none;
        font-weight: var(--fw-bold);
    }
    .nav__list__item a::before {
        border-bottom: solid 3px var(--clr-primary-400);
    }

    /* CURRENT PAGE UNDERLINE */

    .active a{
        color: var(--clr-primary-400);
        font-weight: var(--fw-bold);
        border: none;
        border-bottom: 3px solid var(--clr-primary-400);
    }
}
@media (min-width: 75em) {
    .nav__list {
        gap: 3.5em;
    }
}

/* ====================== FOOTER ====================== */

footer {
    position: relative;
    z-index: 10;
}

/* NEWSLETTER */

.newsletter {
    text-align: center;
    background-color: var(--clr-primary-300);
    margin-top: var(--lineheight-4);
}
.newsletter .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    column-gap: var(--gutter);
    row-gap: var(--lineheight);
    padding: var(--lineheight) 0;
}
.newsletter form {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

@media screen and (min-width: 55em) {
    .newsletter .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .newsletter form {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
    .email {
        width: calc(var(--column-width-4)*2.05);
    }
    .newsletter .button {
        width: inherit;
    }
}

/* REAL FOOTER */

.footer {
    background-color: var(--clr-neutral-800);
    padding-top: var(--lineheight);
}
.footer .container {
    color: var(--clr-neutral-100);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    column-gap: var(--gutter);
    row-gap: var(--lineheight);
    margin: 0 auto;
}

/* left footer */

.footer__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gutter);

    font-size: var(--fs-300);
}
.footer__left > *{
    flex-basis: 0;
    flex-grow: 1;
}
.footer-logo {
    width: 100%;
    height: auto;
}
.social-list {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 21px;
}
.social-icon {
    width: 40px;
}

/* footer nav */

.footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-nav__list {
    font-weight: var(--fw-bold);
    margin-bottom: var(--lineheight-2);
    flex-basis: 225px;
    flex-grow: 1;
}
.footer-nav__list__item {
    margin-top: var(--lineheight);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
}
.footer-nav__list__item a {
    color: inherit;
    text-decoration: inherit;
}



@media screen and (min-width: 55em) {
    .footer .container {
        grid-template-columns: var(--column-width-3) auto;
    }
    .footer__left {
        flex-direction: column;
        justify-content: start;
    }
    .footer__left > *{
        flex-basis: 0;
        flex-grow: 0;
    }
    .footer-nav {
        justify-content: flex-start;
    }
    .legal {
        grid-column: 1 / 3;
        justify-self: center;
        font-size: var(--fs-300);
    }
}