/* ========================================== */
/* =====         GLOBAL STYLING         ===== */
/* ========================================== */

html {
    overflow: auto;
}
body {
    font-family: var(--ff-body);
    color: var(--clr-neutral-800);
    text-align: center;
}
main {
    background-image: url("../../global/02-images/background/background-tiles-light.png");
    background-repeat: repeat;
    margin-top: var(--lineheight-3);
}
small {
    font-size: var(--fs-300);
}
@media (min-width: 55em) {
    body {text-align: left}
}
strong {
    font-weight: var(--fw-bold);
}
h1 {
    line-height: var(--lineheight-3);
}

/* ============= HERO SECTION ============= */

.hero {
    position: relative;
    background-color: var(--clr-neutral-800);
    background-image: url("../../global/02-images/background/background-tiles-dark.png");
    background-repeat: repeat;
    color: var(--clr-neutral-100);
    min-height: calc(100vh - var(--lineheight-3));
}
.hero .container {
    margin: 0 auto;
}


/* ============= SECTIONS ============= */

.tile-section {

}
.tile-section__content {
    margin-bottom: var(--lineheight);
}
.tile-section__img-container {
    height: clamp(400px,50vh,600px);
    max-height: 650px;
}

.tile-section img {
    position: absolute;
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.tile-section--right img {
    left: 0;
}
.tile-section--left img{
    right: 0;
}

.tile-section p {
    margin: var(--lineheight) 0;
}
.tile-section button {
    margin: var(--lineheight) 0;
}

@media screen and (min-width: 55em) {
    .tile-section {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: var(--column-width-6) auto;
        column-gap: var(--gutter);
    }
    .tile-section--right .tile-section__content {
        grid-column: 2 / 3;
    }

    .tile-section--left {
        grid-template-columns: auto var(--column-width-6);
    }
    .tile-section--right .tile-section__content {
        width: 100%;

    }
    .tile-section p {
        margin: var(--lineheight-2) 0;
        width: 100%;
    }
    .tile-section button {
        margin: 0;
    }
    .tile-section--right img {
        width: calc(var(--column-width-6) * 0.86243386 + var(--margin));
        border-radius: 0 20px 20px 0;
    }
    .tile-section--left img {
        width: calc(var(--column-width-6) * 0.86243386  + var(--margin));
        border-radius: 20px 0 0 20px;
    }
}
@media screen and (min-width: 92em){
    .tile-section p {
        width: calc(var(--column-width-5)/0.5);
    }

}

/* ============= BUTTONS ============= */

.button {
    display: inline-block;
    text-align: center;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
    padding: 1.2rem 24px;
    min-width: var(--column-width-2);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    background-color: transparent;
    color: var(--clr-neutral-800);

    transition: linear 0.2s;
    z-index: 15;
}

.button::before {
    content: "";
    background-color: var(--clr-primary-400);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -2;
}
.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    aspect-ratio: 1;
    background-color: var(--clr-neutral-800);
    border-radius: 50%;
    transform: translate(-15%, -35%) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button:hover,
.button:active {
    color: var(--clr-neutral-100);
}
.button:hover::after,
.button:active::after{
    opacity: 1;
    transform-origin: 50% 50%;
    transform: translate(-15%, -35%) scale(1);
}
.button:active {
    transform: translateY(4px);
}

.button--hero::after {
    background-color: var(--clr-neutral-100);
}
.button--hero:hover,
.button--hero:active {
    color: var(--clr-neutral-800);
}

.button--secondary {
    color: var(--clr-neutral-100);
}
.button--secondary:hover,
.button--secondary:active {
    color: var(--clr-neutral-800);
}
.button--secondary::before {
    background-color: var(--clr-neutral-800);
}
.button--secondary::after {
    background-color: var(--clr-neutral-100);
}

.button--login {
    display: none;
    padding: 0.8rem 24px;
    outline: 2px solid var(--clr-neutral-800);
}
.button--login::before {
    background-color: transparent;
}
.button--login::after {
    background-color: var(--clr-primary-400);
}
.button--login:hover {
    outline: none;
}
@media (min-width: 60em) {
    .button--login {display: inline-block}
}

/* ============= FORMS ============= */

form {
    text-align: left;
    font-size: var(--fs-300);
}
form .button {
    width: 100%;
}
form li:not(li .button){
    margin-top: 1em;
}
label {
    font-size: var(--fs-400);
    font-weight: var(--fw-semibold);
}
input,
textarea {
    font-weight: var(--fw-regular);
    border: 2px solid var(--clr-neutral-800);
    border-radius: 6px;
    background-color: var(--clr-neutral-100);
    width: 100%;
}
input:not([type=checkbox]) {
    height: 2.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--clr-bg-success) inset;
    transition: background-color 9999s ease-in-out;
}

.form__messaggio textarea {
    height: var(--lineheight-7);
    resize: none;
}

.form__privacy-policy {
    display: flex;
    align-items: center;
    gap: 16px;
}
input[type=checkbox] {
    width: 20px;
    height: 100%;
}
input[type=checkbox] + label{
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
}

/* ERROR VALIDATION */

.valid input,
.valid textarea{
    border-color: var(--clr-success);
    background-color: var(--clr-bg-success);
}
.invalid input,
.invalid textarea{
    border-color: var(--clr-warning);
    background-color: var(--clr-bg-warning);
}
.error {
    color: var(--clr-warning);
}







