/* STYLE */
:root {
    /* Colors Styling*/
    --clr-primary-400: #FFC329;
    --clr-primary-300: #FDCD51;
    --clr-primary-200: #fcd572;

    --clr-shadow: #cca541;

    --clr-neutral-800: #1E1E1E;
    --clr-neutral-200: #FFFDF9;
    --clr-neutral-100: #FFFFFF;

    /* Layout Styling */
    --columns: 6;
    --margin: 8.533333333%;
    --gutter: 7.717041801%;
    --max-width: 2000px;

    --column-width: 10.28938907%;
    --column-width-2: calc(var(--column-width)*2 + var(--gutter));
    --column-width-3: calc(var(--column-width)*3 + var(--gutter)*2);
    --column-width-4: calc(var(--column-width)*4 + var(--gutter)*3);
    --column-width-5: calc(var(--column-width)*5 + var(--gutter)*4);
    --column-width-6: calc(var(--column-width)*6 + var(--gutter)*5);
    --column-width-7: calc(var(--column-width)*7 + var(--gutter)*6);
    --column-width-8: calc(var(--column-width)*8 + var(--gutter)*7);
    /* Font Styling*/
    font-size: 100%;

    --ff-primary: 'Poppins', Futura, Arial, sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* font-size TypeScale 1.200 */
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.44rem;
    --fs-700: 1.728125rem;
    --fs-800: 2.07375rem;
    --fs-900: 2.488125rem;
    --fs-1000: 2.98575rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-button: var(--fs-400);

    /* Sizes for margins, paddings... */
    --lineheight: 1.5rem; /*24px for 16px font*/
    --lineheight-2: calc(var(--lineheight)*2);
    --lineheight-3: calc(var(--lineheight)*3);
    --lineheight-4: calc(var(--lineheight)*4);
    --lineheight-6: calc(var(--lineheight)*6);
    --lineheight-7: calc(var(--lineheight)*7);
}

/* Large Screen */
@media (min-width: 55em) {
    :root {
        /* Layout Styling */
        --columns: 12;
        --column-width: 6.671779141%;
        --margin: 6.878306878%;
        --gutter: 1.840490798%;

        font-size: 112.5%;
        /* font-size TypeScale 1.333 */
        --fs-300: 0.889rem;
        --fs-400: 1rem;
        --fs-500: 1.333rem;
        --fs-600: 1.776666667rem;
        --fs-700: 2.368333333rem;
        --fs-800: 3.157222222rem;
        --fs-900: 4.208888889rem;
        --fs-1000: 5.610448889rem;

        /* Sizes for margins, paddings... */
        --lineheight: 1.55555556rem; /*28px for 18px font*/
    }
}

/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture {
    max-width: 100%;
    display: block;
}

ol, ul {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: var(--lineheight);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Per chi non vuole animazioni o movimenti sullo schermo */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* UTILITY CLASSES */

.text-primary-300 {color: var(--clr-primary-300)}
.text-neutral-100 {color: var(--clr-neutral-100)}

.bg-primary-400 {background-color: var(--clr-primary-400)}
.bg-primary-300 {background-color: var(--clr-primary-300)}
.bg-neutral-800 {background-color: var(--clr-neutral-800)}
.bg-neutral-200 {background-color: var(--clr-neutral-200)}
.bg-neutral-100 {background-color: var(--clr-neutral-100)}

.fw-regular {font-weight: var(--fw-regular)}
.fw-medium {font-weight: var(--fw-medium)}
.fw-semibold {font-weight: var(--fw-semibold)}
.fw-bold {font-weight: var(--fw-bold)}

.fs-300 {font-size: var(--fs-300)}
.fs-400 {font-size: var(--fs-400)}
.fs-500 {font-size: var(--fs-500)}
.fs-600 {font-size: var(--fs-600)}
.fs-700 {font-size: var(--fs-700)}
.fs-800 {font-size: var(--fs-800)}
.fs-900 {font-size: var(--fs-900)}
.fs-1000 {font-size: var(--fs-1000)}

.primary-heading {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    line-height: var(--lineheight-3);
}
.secondary-heading {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-bold);
    line-height: var(--lineheight-2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.container {
    width: min(var(--max-width), 100% - var(--margin)*2);
    margin: 0 auto;
}
.even-column {
    display: grid;
    grid-auto-flow: row;
}

/* GLOBAL STYLING */
body {
    font-family: var(--ff-body);
    color: var(--clr-neutral-800);
    text-align: center;
}
main {
    background-image: url("../../global/02-images/background/background-tiles-light.png");
    background-repeat: repeat;
}
@media (min-width: 55em) {
    body {text-align: left}
}
strong {
    font-weight: var(--fw-bold);
}

/* Buttons */
.button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
    padding: 0 24px;
    min-width: calc(var(--column-width)*2 + var(--gutter));
    height: 4em;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-400);
}
.button:hover {
    background-color: var(--clr-primary-200);
    box-shadow: 0 1.125em 1em -0.5em var(--clr-shadow);
}

.button--secondary {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
}

.button--login {
    background-color: var(--clr-neutral-100);
    border: 2px solid var(--clr-neutral-800);
    display: none;
}
.button--login:hover {
    background-color: var(--clr-primary-400);
    box-shadow: 0 1.125em 1em -0.5em var(--clr-neutral-800);
}
@media (min-width: 55em) {
    .button--login {display: block}
}

/* Forms */
label {
    font-weight: var(--fw-semibold);
}
input,
textarea {
    border: 2px solid var(--clr-neutral-800);
    border-radius: 6px;
    background-color: var(--clr-neutral-100);
}
input {
    height: 2rem;
}
textarea {
    resize: none;
}
input[type=checkbox] + label{
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
}

/* HEADER & FOOTER */
header {
    background-color: var(--clr-neutral-100);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    outline: 2px solid var(--clr-neutral-800);
}
.header-logo {
    height: calc(var(--lineheight)*4);
}
@media (min-width: 55em) {
    .header-logo {
        height: calc(var(--lineheight)*3);
    }
}
.nav-wrapper, .nav__list, .nav__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    gap: 1.5em;
}
@media (min-width: 75em) {
    .nav__list {
        gap: 3.5em;
    }
}

.nav__list__item {
    position : relative;
}
.nav__list__item a{
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;

    padding: 0.5em;
    font-weight: var(--fw-semibold);
}

.nav__list__item a:hover,
.nav__list__item a:active {
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    transition: 0.15s ease-out;
}
.nav__list__item a:hover::before,
.nav__list__item a:active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.6em;
    border-bottom: solid 3px var(--clr-primary-400);
    animation: border_anim 0.4s ease-out forwards;
}
@keyframes border_anim {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Link of current page */
.active a{
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    border-bottom: solid 3px var(--clr-primary-400);
}
.active a:hover::before,
.active a:active::before {
    animation: none;
}

/* Navigation on the Right */
.nav__right {
    margin-right: 30px;
    gap: 1.5em;
}
.shopping-cart {
    width: 35px;
    height: 35px;
}
/* Hidden Navigation */
.nav__toggle {
    display: none;
    cursor: pointer;
    background: transparent;
}
.nav__overlay {
    display: none;
}

@media (max-width: 65em) {

    .homepage-link {order:2}
    .nav {order:1}
    .nav__right {order:3}

    .nav__toggle {
        display: block;
        position: absolute;
        z-index:10;
        border:0;
        left: 2em;
        background:transparent;
        outline:0;
        cursor:pointer;
    }
    .icon-menu {
        transition: fill .15s linear;
    }
    .icon-menu:hover,
    .icon-menu:focus {
        fill: var(--clr-primary-400);
    }

    .nav__list {
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:70vh;
        position:absolute;
        z-index:5;
        visibility:hidden;
    }
    .nav__right {
        order: 3;
    }

    .icon-menu {
        display: block;
        cursor: pointer;
        color: white;
    }
    .nav__overlay {
        position: fixed;
        display: none;
        bottom: -500px;
        right: 100px;
        transform: scale(5);
        transform-origin:50% 50%;
        transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
        will-change: transform;
    }
    .av__overlay::after {
        content:"";
        display:block;
        position:absolute;
        border-radius:50%;
        background-color:var(--clr-primary-300);
        pointer-events: none;

        width:284vmax;
        height:284vmax;
        top:-142vmax;
        left:-142vmax;

        transform: scale(0);
        transform-origin:50% 50%;
        transition: transform 1.5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

        will-change:transform;
     }
    /* ACTIVE STATE */
    .nav:target > .nav__overlay {
        transform:
                translate(1000px, -1500px) scale(5);
    }
    .nav:target .nav__list {
        visibility: visible;
    }

}

.newsletter {
    background-color: var(--clr-primary-300);
}
footer {
    background-color: var(--clr-neutral-800);
}
.footer-logo {
    height: calc(var(--lineheight)*4);
}
.social-list {
    display: flex;
    gap: 21px;
}
.social-icon {
    width: 32px;
}




