/* STYLE */
:root {
    /* Colors Styling*/
    --clr-primary-400: #FFC329;
    --clr-primary-300: #FDCD51;
    --clr-primary-200: #fcd572;

    --clr-shadow: #cca541;

    --clr-neutral-800: #1E1E1E;
    --clr-neutral-200: #FFFDF9;
    --clr-neutral-100: #FFFFFF;

    /* Layout Styling */
    --columns: 6;
    --margin: 8.533333333%;
    --gutter: 7.717041801%;
    --max-width: 1800px;

    --column-width: 10.28938907%;
    --column-width-2: calc(var(--column-width)*2 + var(--gutter));
    --column-width-3: calc(var(--column-width)*3 + var(--gutter)*2);
    --column-width-4: calc(var(--column-width)*4 + var(--gutter)*3);
    --column-width-5: calc(var(--column-width)*5 + var(--gutter)*4);
    --column-width-6: calc(var(--column-width)*6 + var(--gutter)*5);
    --column-width-7: calc(var(--column-width)*7 + var(--gutter)*6);
    --column-width-8: calc(var(--column-width)*8 + var(--gutter)*7);
    /* Font Styling*/
    font-size: 100%;

    --ff-primary: 'Poppins', Futura, Arial, sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* font-size TypeScale 1.200 */
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.44rem;
    --fs-700: 1.728125rem;
    --fs-800: 2.07375rem;
    --fs-900: 2.488125rem;
    --fs-1000: 2.98575rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-button: var(--fs-400);

    /* Sizes for margins, paddings... */
    --lineheight: 1.5rem; /*24px for 16px font*/
    --lineheight-2: calc(var(--lineheight)*2);
    --lineheight-3: calc(var(--lineheight)*3);
    --lineheight-4: calc(var(--lineheight)*4);
    --lineheight-6: calc(var(--lineheight)*6);
    --lineheight-7: calc(var(--lineheight)*7);
}

/* Large Screen */
@media (min-width: 55em) {
    :root {
        /* Layout Styling */
        --columns: 12;
        --column-width: 6.671779141%;
        --margin: 6.878306878%;
        --gutter: 1.840490798%;

        font-size: 112.5%;
        /* font-size TypeScale 1.333 */
        --fs-300: 0.889rem;
        --fs-400: 1rem;
        --fs-500: 1.333rem;
        --fs-600: 1.776666667rem;
        --fs-700: 2.368333333rem;
        --fs-800: 3.157222222rem;
        --fs-900: 4.208888889rem;
        --fs-1000: 5.610448889rem;

        /* Sizes for margins, paddings... */
        --lineheight: 1.555555556rem; /*28px for 18px font*/
    }
}

/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture {
    max-width: 100%;
    display: block;
}

ol, ul {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: var(--lineheight);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Per chi non vuole animazioni o movimenti sullo schermo */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* UTILITY CLASSES */

.text-primary-300 {color: var(--clr-primary-300)}
.text-neutral-100 {color: var(--clr-neutral-100)}

.bg-primary-400 {background-color: var(--clr-primary-400)}
.bg-primary-300 {background-color: var(--clr-primary-300)}
.bg-neutral-800 {background-color: var(--clr-neutral-800)}
.bg-neutral-200 {background-color: var(--clr-neutral-200)}
.bg-neutral-100 {background-color: var(--clr-neutral-100)}

.fw-regular {font-weight: var(--fw-regular)}
.fw-medium {font-weight: var(--fw-medium)}
.fw-semibold {font-weight: var(--fw-semibold)}
.fw-bold {font-weight: var(--fw-bold)}

.fs-300 {font-size: var(--fs-300)}
.fs-400 {font-size: var(--fs-400)}
.fs-500 {font-size: var(--fs-500)}
.fs-600 {font-size: var(--fs-600)}
.fs-700 {font-size: var(--fs-700)}
.fs-800 {font-size: var(--fs-800)}
.fs-900 {font-size: var(--fs-900)}
.fs-1000 {font-size: var(--fs-1000)}

.primary-heading {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    line-height: var(--lineheight-3);
}
.secondary-heading {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-bold);
    line-height: var(--lineheight-2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.container {
    width: min(var(--max-width), 100% - var(--margin)*2);
    margin: 0 auto;
}
.even-column {
    display: grid;
    grid-auto-flow: row;
}

/* GLOBAL STYLING */
body {
    font-family: var(--ff-body);
    color: var(--clr-neutral-800);
    text-align: center;
}
main {
    background-image: url("../../global/02-images/background/background-tiles-light.png");
    background-repeat: repeat;
}
@media (min-width: 55em) {
    body {text-align: left}
}
strong {
    font-weight: var(--fw-bold);
}
h1 {
    line-height: var(--lineheight-3);
}

/* Hero Section */
.hero {
    background-color: var(--clr-neutral-800);
    background-image: url("../../global/02-images/background/background-tiles-dark.png");
    background-repeat: repeat;
    color: var(--clr-neutral-100);
    min-height: calc(100vh - var(--lineheight-4));
}
@media screen and (min-width: 55em) {
    .hero {
        min-height: calc(100vh - var(--lineheight-3));
    }
}
/* Buttons */
.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
    padding: 0 24px;
    min-width: var(--column-width-2);
    height: 4em;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    background-color: transparent;
    transition: linear 0.2s;
    z-index: 15;
}
.button::before {
    content: "";
    background-color: var(--clr-primary-400);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -2;
}
.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    aspect-ratio: 1;
    background-color: var(--clr-neutral-800);
    border-radius: 50%;
    transform: translate(-15%, -35%) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button:hover,
.button:focus {
    color: var(--clr-neutral-100);
}
.button:hover::after,
.button:focus::after{
    opacity: 1;
    transform-origin: 50% 50%;
    transform: translate(-15%, -35%) scale(1);
}
.button:active {
    transform: translateY(4px);
}

.button--hero::after {
    background-color: var(--clr-neutral-100);
}
.button--hero:hover,
.button--hero:focus {
    color: var(--clr-neutral-800);
}

.button--secondary {
    color: var(--clr-neutral-100);
}
.button--secondary:hover,
.button--secondary:focus {
    color: var(--clr-neutral-800);
}
.button--secondary::before {
    background-color: var(--clr-neutral-800);
}
.button--secondary::after {
    background-color: var(--clr-neutral-100);
}

.button--login {
    display: none;
    outline: 2px solid var(--clr-neutral-800);
}
.button--login::before {
    background-color: transparent;
}
.button--login::after {
    background-color: var(--clr-primary-400);
}
.button--login:hover {
    outline: none;
}
@media (min-width: 55em) {
    .button--login {display: block}
}


/* Forms */
form li {
    margin-top: var(--lineheight);
}
label {
    font-weight: var(--fw-semibold);
}
input,
textarea {
    border: 2px solid var(--clr-neutral-800);
    border-radius: 6px;
    background-color: var(--clr-neutral-100);
}
input:not([type=checkbox]) {
    height: 2.5rem;
}
textarea {
    resize: none;
}
.checkbox-container {
    display: flex;
    align-items: baseline;
    gap: 16px;
}
input[type=checkbox] + label{
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
}

/* HEADER & FOOTER */
/* HEADER */
header {
    background-color: var(--clr-neutral-100);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    outline: 2px solid var(--clr-neutral-800);
}
.header-logo {
    height: calc(var(--lineheight)*4);
}
@media (min-width: 55em) {
    .header-logo {
        height: calc(var(--lineheight)*3);
    }
}
.nav-wrapper, .nav__list, .nav__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    gap: 1.5em;
}
@media (min-width: 75em) {
    .nav__list {
        gap: 3.5em;
    }
}

.nav__list__item {
    position : relative;
}
.nav__list__item a{
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    color: inherit;
    text-decoration: none;
    font-weight: var(--fw-semibold);
    cursor: pointer;
    padding: 0.5em;
}
.nav__list__item a::after {

    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    font-weight: var(--fw-bold);

}
.nav__list__item a:hover,
.nav__list__item a:active {
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    transition: 0.15s ease-out;
}
.nav__list__item a::before {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.5px;
    border-bottom: solid 3px var(--clr-primary-400);
    transition: width ease-out 0.4s;
}
.nav__list__item a:hover::before,
.nav__list__item a:active::before {
    width: 100%;
}
.nav__list__item a:not(:hover)::before{
    left: auto;
    right: 0;
    transition: width 0.4s ease-in-out;
}

/* Link of current page */
.active a{
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    border-bottom: solid 3px var(--clr-primary-400);
}
.active a:hover::before,
.active a:active::before {
    width: 0;
}

/* Navigation on the Right */
.nav__right {
    margin-right: 30px;
    gap: 1.5em;
}
.shopping-cart {
    width: 35px;
    height: 35px;
}
/* Hidden Navigation */
.nav__toggle {
    display: none;
    cursor: pointer;
    background: transparent;
}
.nav__overlay {
    display: none;
}

@media (max-width: 65em) {

    .homepage-link {order:2}
    .nav {order:1}
    .nav__right {order:3}

    .nav__toggle {
        display: block;
        position: absolute;
        z-index:10;
        border:0;
        left: 2em;
        background:transparent;
        outline:0;
        cursor:pointer;
    }
    .icon-menu {
        transition: fill .15s linear;
    }
    .icon-menu:hover,
    .icon-menu:focus {
        fill: var(--clr-primary-400);
    }

    .nav__list {
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:70vh;
        position:absolute;
        z-index:5;
        visibility:hidden;
    }
    .nav__right {
        order: 3;
    }

    .icon-menu {
        display: block;
        cursor: pointer;
        color: white;
    }
    .nav__overlay {
        position: fixed;
        display: none;
        bottom: -500px;
        right: 100px;
        transform: scale(5);
        transform-origin:50% 50%;
        transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
        will-change: transform;
    }
    .nav__overlay::after {
        content:"";
        display:block;
        position:absolute;
        border-radius:50%;
        background-color:var(--clr-primary-300);
        pointer-events: none;

        width:284vmax;
        height:284vmax;
        top:-142vmax;
        left:-142vmax;

        transform: scale(0);
        transform-origin:50% 50%;
        transition: transform 1.5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

        will-change:transform;
     }
    /* ACTIVE STATE */
    .nav:target > .nav__overlay {
        transform:
                translate(1000px, -1500px) scale(5);
    }
    .nav:target .nav__list {
        visibility: visible;
    }

}


/* FOOTER */
footer {
    position: relative;
    z-index: 10;
}

/* Newsletter */
.newsletter {
    text-align: center;
    background-color: var(--clr-primary-300);
    margin-top: var(--lineheight-4);
}
.newsletter .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: var(--lineheight);
    padding: var(--lineheight) 0;
}
.newsletter form {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.email {
    width: var(--column-width-4);
}
@media screen and (min-width: 55em) {
    .newsletter .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .newsletter form {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
    .email {
        width: calc(var(--column-width-4)*2.05);
    }
}

.footer {
    background-color: var(--clr-neutral-800);
    padding-top: var(--lineheight);
}
.footer .container {
    color: var(--clr-neutral-100);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    column-gap: var(--gutter);
    row-gap: var(--lineheight);
}

/* left footer */
.footer__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gutter);

    font-size: var(--fs-300);
}
.footer__left > *{
    flex-basis: 0;
    flex-grow: 1;
}
.footer-logo {
    width: 100%;
    height: auto;
}
.social-list {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 21px;
}
.social-icon {
    width: 40px;
}

/* footer nav */
.footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-nav__list {
    font-weight: var(--fw-bold);
    margin-bottom: var(--lineheight-2);
    flex-basis: 225px;
    flex-grow: 1;
}
.footer-nav__list__item {
    margin-top: var(--lineheight);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
}
.footer-nav__list__item a {
    color: inherit;
    text-decoration: inherit;
}



@media screen and (min-width: 55em) {
    footer .container {
        grid-template-columns: var(--column-width-3) auto;
    }
    .footer__left {
        flex-direction: column;
        justify-content: start;
    }
    .footer__left > *{
        flex-basis: 0;
        flex-grow: 0;
    }
    .footer-nav {
        justify-content: flex-start;
    }
    .legal {
        grid-column: 1 / 3;
        justify-self: center;
        font-size: var(--fs-300);
    }
}



