.secondary-nav {
    background-color: var(--clr-neutral-500);
    position: -webkit-sticky;
    position: sticky;
}
.secondary-nav .container {
    display: grid;
    grid-template-columns: var(--column-width-6) repeat(2, var(--column-width-3));
    column-gap: var(--gutter);
    align-items: center;
}
.secondary-nav small {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: var(--gutter);
    width: 100%;
}
.shop-card {
    width: var(--column-width-2);
    margin-top: var(--lineheight);
    border: 2px solid var(--clr-neutral-800);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}
.disponibile {
    color: var(--clr-success);
}
.esaurito {
    color: var(--clr-warning);
}