/* STYLE */
:root {
    --clr-primary-400: #FFC329;
    --clr-primary-300: #FDCD51;

    --clr-neutral-800: #1E1E1E;
    --clr-neutral-200: #FFFDF9;
    --clr-neutral-100: #FFFFFF;

    --ff-primary: 'Poppins', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* font-size TypeScale */
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 2.4rem;
    --fs-700: 3.6rem;
    --fs-800: 4.8rem;
    --fs-900: 6rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-button: var(--fs-400);
}

/* Large Screen */
@media (min-width: 50em) {
    body {font-size: 112.5%}
    :root {
        /* font-size TypeScale */
        --fs-300: 0.889rem;
        --fs-400: 1rem;
        --fs-500: 1.333rem;
        --fs-600: 2.666rem;
        --fs-700: 3.999rem;
        --fs-800: 5.332rem;
        --fs-900: 6.665rem;
    }
}

/* UTILITY CLASSES */
.text-primary-300 {color: var(--clr-primary-300)}
.text-neutral-900 {color: var(--clr-neutral-800)}
.text-neutral-100 {color: var(--clr-neutral-100)}

.bg-primary-400 {background-color: var(--clr-primary-400)}
.bg-primary-300 {background-color: var(--clr-primary-300)}
.bg-neutral-900 {background-color: var(--clr-neutral-800)}
.bg-neutral-200 {background-color: var(--clr-neutral-200)}
.bg-neutral-100 {background-color: var(--clr-neutral-100)}

.fw-regular {font-weight: var(--fw-regular)}
.fw-medium {font-weight: var(--fw-medium)}
.fw-semibold {font-weight: var(--fw-semibold)}
.fw-bold {font-weight: var(--fw-bold)}

.fs-300 {font-size: var(--fs-300)}
.fs-400 {font-size: var(--fs-400)}
.fs-500 {font-size: var(--fs-500)}
.fs-600 {font-size: var(--fs-600)}
.fs-300 {font-size: var(--fs-300)}
.fs-300 {font-size: var(--fs-300)}
.fs-300 {font-size: var(--fs-300)}

/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture {
    max-width: 100%;
    display: block;
}

ol[role='list'], ul[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.56;
    font-size: 100%;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*Per chi non vuole animazioni o movimenti sullo schermo*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
