/* ========================================== */
/* =====            BUTTONS             ===== */
/* ========================================== */

.button {
    display: inline-block;
    text-align: center;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
    padding: 1.2rem 24px;
    min-width: var(--column-width-2);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    background-color: transparent;
    color: var(--clr-neutral-800);

    transition: linear 0.2s;
    z-index: 15;
}

.button::before {
    content: "";
    background-color: var(--clr-primary-400);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -2;
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    aspect-ratio: 1 / 1;
    background-color: var(--clr-neutral-800);
    border-radius: 50%;
    transform: translate(-15%, -35%) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
}

.button:hover,
.button:active {
    color: var(--clr-neutral-100);
}

.button:hover::after,
.button:active::after{
    opacity: 1;
    transform-origin: 50% 50%;
    transform: translate(-15%, -35%) scale(1);
}

.button:active {
    transform: translateY(4px);
}

/* ============= DISABLED BUTTON ============= */

.button:disabled {
    cursor: not-allowed;
    color: inherit;
}

.button:disabled::before {
    background-color: darkgray;
}

.button:disabled::after{
    background-color: darkgray;
    transform: none;
}

/* ============= FLOATING ACTION BUTTON ============= */

.fab-button {
    position: fixed;
    bottom: 2em;
    right: var(--margin);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5em;
    height: 5em;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--clr-primary-400);
    box-shadow: 2px 2px 5px 0 var(--clr-neutral-700);
    z-index: 999;
}

.fab-button a {
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-500);
    font-weight: var(--fw-semibold);
}

/* ============= BUTTON HERO ============= */

.button--hero::after {
    background-color: var(--clr-neutral-100);
}

.button--hero:hover,
.button--hero:active {
    color: var(--clr-neutral-800);
}

/* ============= BUTTON SECONDARY ============= */

.button--secondary {
    color: var(--clr-neutral-100);
}

.button--secondary:hover,
.button--secondary:active {
    color: var(--clr-neutral-800);
}

.button--secondary::before {
    background-color: var(--clr-neutral-800);
}

.button--secondary::after {
    background-color: var(--clr-neutral-100);
}
/* ============= BUTTON TERTIARY ============= */

.button--tertiary {
    padding: 0.8rem 24px;
    outline: 2px solid var(--clr-neutral-800);
}

.button--tertiary::before {
    background-color: transparent;
}

.button--tertiary::after {
    background-color: var(--clr-primary-400);
}

.button--tertiary:hover {
    outline: none;
}

/* ============= BUTTON REMOVE ============= */

.button--remove {
    padding: 5px;
    font-size: var(--fs-400);
    outline: 2px solid var(--clr-neutral-800);
    color: var(--clr-warning);
}

.button--remove::before {
    background-color: transparent;
}

.button--remove::after {
    background-color: var(--clr-warning);;
}

.button--remove:hover {
    outline: none;
}

/* ============= BUTTON EDIT ============= */

.button--edit {
    padding: 5px;
    font-size: var(--fs-400);
    outline: 2px solid var(--clr-neutral-800);
    color: var(--clr-neutral-800);
}

.button--edit::before {
    background-color: transparent;
}

.button--edit::after {
    background-color: var(--clr-primary-400);;
}

.button--edit:hover {
    outline: none;
}

/* ============= BUTTON SHOP ============= */

.button--shop {
    height: var(--lineheight-2);
    padding: 0 24px;
}

.button--shop .button-image {
    display: inline-block;
    vertical-align: sub;
    background-image: url("../../images/icons/shopping_cart.png");
    background-size: contain;
    width: 24px;
    height: 24px;
}
