/* ========================================== */
/* =====             HEADER             ===== */
/* ========================================== */

header {
    background-color: var(--clr-neutral-100);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    outline: 2px solid var(--clr-neutral-800);
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-logo img {
    height: var(--lineheight-3);
}

/* ============= HIDDEN NAV ============= */

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    visibility: hidden;
    gap: 3em;
    z-index: 5;
    background-color: var(--clr-primary-400);
    clip-path: circle(25px at 0 0);
    transition: 0.3s ease-in-out;
}

/* HAMBURGER ICON */

.nav__toggle-label {
    position: absolute;
    left: var(--margin);
    top: var(--lineheight);
    cursor: pointer;
    z-index: 10;
}

.nav__toggle:focus ~ .nav__toggle-label  {
    outline: 2px solid var(--clr-neutral-800);
}

.nav__toggle-label span {
    display: block;
    background: var(--clr-neutral-800);
    height: 8px;
    width: 40px;
    transform-origin: 0 50%;
    transition: all 0.3s cubic-bezier(0, 1, 1, 1);
}

.nav__toggle-label span:last-child {
    margin-top: 12px;
}

@media screen and (min-width: 60em) {
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__list {
        flex-direction: row;
        gap: 1.5rem;
        position: relative;
        top: 0;
        height: auto;
        visibility: visible;
        background-color: transparent;
        clip-path: none;
    }
    .nav__toggle-label {
        display: none;
    }
}

@media (min-width: 75em) {
    .nav__list {
        gap: 3.5em;
    }
}

/* ============= HIDDEN NAV OPENED ============= */

.nav__toggle:checked ~ .nav__list {
    visibility: visible;
    clip-path: circle(75%);
}

.nav__toggle:checked ~ .nav__list .nav__list__item {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s cubic-bezier(0, 1, 1, 1) 0.5s,
                opacity 1s cubic-bezier(0, 1, 1, 1) 0.5s;
}

.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(2) {
    transition-delay: 0.55s;
}

.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(3) {
    transition-delay: 0.6s;
}

.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(4) {
    transition-delay: 0.65s;
}

.nav__toggle:checked ~ .nav__list .nav__list__item:nth-child(5) {
    transition-delay: 0.75s;
}

.nav__toggle:checked ~ .nav__toggle-label span:nth-child(1) {
    transform: rotate(45deg) translateY(-6px);
}

.nav__toggle:checked ~ .nav__toggle-label span:nth-child(2) {
    transform: rotate(-45deg) translateY(6px);
}

/* ============= NAV ITEMS ============= */

.nav__list__item {
    position: relative;
    opacity: 0;
    transition-duration: 0.2s;
}

.nav__list__item a{
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    color: inherit;
    text-decoration: none;
    font-size: var(--fs-800);
    font-weight: var(--fw-semibold);
    padding: 0.5em;
}

.nav__list__item a:hover,
.nav__list__item a:active {
    font-weight: var(--fw-bold);
    transition: 0.15s ease-out;
}

/* evita che il layout shifti a causa del bold */
.nav__list__item a::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    font-weight: var(--fw-bold);
}

.nav__list__item a::before {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.5px;
    border-bottom: solid 5px var(--clr-neutral-100);
    transition: width ease-out 0.4s;
}

.nav__list__item a:hover::before,
.nav__list__item a:active::before {
    width: 100%;
}

.nav__list__item a:not(:hover)::before {
    left: auto;
    right: 0;
    transition: width 0.4s ease-in-out;
}

/* CURRENT PAGE UNDERLINE */

.active a{
    color: var(--clr-neutral-800);
    font-weight: var(--fw-bold);
    border: solid 5px var(--clr-neutral-100);
}

.active a:hover::before,
.active a:active::before {
    width: 0;
}

@media screen and (min-width: 60em) {
    .nav__list__item {
        opacity: 1;
    }
    .nav__list__item a{
        font-size: var(--fs-400);
        font-weight: var(--fw-semibold);
    }
    .nav__list__item a:hover,
    .nav__list__item a:active {
        color: var(--clr-primary-400);
    }
    /* evita che il layout shifti a causa del bold */
    .nav__list__item a::after {
        content: attr(data-text);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        pointer-events: none;
        font-weight: var(--fw-bold);
    }
    .nav__list__item a::before {
        border-bottom: solid 3px var(--clr-primary-400);
    }
    .active a{
        color: var(--clr-primary-400);
        font-weight: var(--fw-bold);
        border: none;
        border-bottom: 3px solid var(--clr-primary-400);
    }
}

/* ============= NAV RIGHT ============= */

.nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;

    position: absolute;
    top: 1em;
    right: var(--margin);
}



@media screen and (max-width: 60em) {
    .nav__right .button--tertiary {
        background-image: url("../../images/icons/user.png");
        background-size: cover;
        aspect-ratio: 1;
        width: 35px;
        height: 35px;
        outline: none;
        border-radius: inherit;
        padding: 0;
    }
    .nav__right .button--tertiary::before,
    .nav__right .button--tertiary::after {
        content: none;
    }

    .nav__right .button--tertiary span {
        display: none;
    }
}

/* CARRELLO */

/*TODO: change this */
.shopping-cart-slide {
    height: 100%; /* 100% Full-height */
    width: calc(var(--column-width-4) + var(--margin));
    max-width: 550px;
    min-width: 390px;
    position: fixed;
    top: 0;
    right: -2000px;
    background-color: var(--clr-neutral-100); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 2em;
    transition: all 0.5s;
    z-index: 100;
}

.shopping-cart-slide h2 {
    margin-bottom: var(--lineheight);
}

.shopping-cart-slide.open {
    right: 0;
}

.pulsanti-carrello {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pulsanti-carrello .button {
    margin: var(--lineheight);
    text-align: center;
    min-width: 250px;
}

/* Position and style the close button (top right corner) */
.shopping-cart-slide .closebtn {
    position: absolute;
    top: var(--lineheight);
    right: var(--margin);
    font-size: 60px;
    text-decoration: none;
    color: inherit;
}

.shopping-cart-link {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
}

.shopping-cart {
    cursor: pointer;
}

@media screen and (min-width: 60em) {
    .shopping-cart-slide {
        width: calc(var(--column-width-3) + var(--margin));
        padding: 2em 5em 2em 3em;
    }

    .nav__right {
        position: relative;
        top: 0;
        right: 30px;
    }
}

/* Carrello Laterale */

.totale {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    margin: var(--lineheight) 0;
    text-align: right;
}

.prodotti-list::before,
.prodotti-list::after {
    display: block;
    width: 85%;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    content: '';
}

.prodotto {
    display: flex;
    gap: 10px;
    align-items: center;
    height: var(--lineheight-4);
    margin-bottom: var(--lineheight);
}

.prodotto:first-child {
    margin-top: var(--lineheight);
}

.prodotto *:first-child {
    height: 100%;
}

.remove-prodotto {
    margin-left: auto;
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.nome-prodotto {
    font-size: var(--fs-500);
    font-weight: var(--fw-medium);
}

.prezzo-prodotto {
    font-weight: var(--fw-medium);
    margin-left: auto;
}


