/* ========================================== */
/* =====         GLOBAL STYLING         ===== */
/* ========================================== */

html {
    overflow: auto;
}

body {
    line-height: var(--lineheight);
    font-family: var(--ff-body);
    color: var(--clr-neutral-800);
    text-align: center;
}

main {
    background-image: url("../../images/background/background-tiles-light.png");
    background-repeat: repeat;
    margin-top: var(--lineheight-3);
}

small {
    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
}

@media (min-width: 55em) {
    body {text-align: left}
}

strong {
    font-weight: var(--fw-bold);
}

h1 {
    line-height: var(--lineheight-3);
}

/* ========================================== */
/* =====         HERO SECTION           ===== */
/* ========================================== */

.hero {
    position: relative;
    background-color: var(--clr-neutral-800);
    background-image: url("../../images/background/background-tiles-dark.png");
    background-repeat: repeat;
    color: var(--clr-neutral-100);
    min-height: calc(100vh - var(--lineheight-3));
}

.hero .container {
    margin: 0 auto;
}

/* ========================================== */
/* =====            SECTIONS            ===== */
/* ========================================== */

.tile-section__content {
    margin-bottom: var(--lineheight);
}

.tile-section p {
    margin: var(--lineheight) 0;
}

.tile-section__img-container {
    height: clamp(400px,50vh,650px);
}

.tile-section__img-container img {
    position: absolute;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.tile-section--right img {
    left: 0;
}

.tile-section--left img{
    right: 0;
}

@media screen and (min-width: 55em) {
    .tile-section {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--gutter);
    }

    .tile-section p {
        margin: var(--lineheight-2) 0;
    }

    .tile-section--left {
        grid-template-columns: auto var(--column-width-6);
    }

    .tile-section--right .tile-section__content {
        grid-column: 2 / 3;
    }

    .tile-section--right img {
        width: calc(var(--column-width-6) * 0.86243386 + var(--margin));
        border-radius: 0 20px 20px 0;
    }

    .tile-section--left img {
        width: calc(var(--column-width-6) * 0.86243386  + var(--margin));
        border-radius: 20px 0 0 20px;
    }
}

@media screen and (min-width: 92em){
    .tile-section p {
        width: calc(var(--column-width-5)/0.5);
    }

}

/* ========================================== */
/* =====             CARDS              ===== */
/* ========================================== */

/* ============= PRODUCT CARD ============= */

.cards-container {
    width: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    margin-top: var(--lineheight);
    border: 2px solid var(--clr-neutral-800);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.product-card h3 {
    margin-bottom: var(--lineheight);
}

.product-card img {
    height: var(--lineheight-6);
    margin: 0 auto;
}

.product-card form,
.product-card .button-container {
    margin-top: auto;
}

@media screen and (min-width: 40em) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter);
    }
    .product-card {
        width: calc(var(--column-width-3) - 2px);
    }
}

@media screen and (min-width: 55em) {
    .product-card {
        width: calc(var(--column-width-4) - 2px);
    }
}

@media screen and (min-width: 70em) {
    .product-card {
        width: calc(var(--column-width-3) - 2px);
    }
}

@media screen and (min-width: 105em) {
    .product-card {
        width: calc(var(--column-width-2) - 1px);
    }
}

/* ========================================== */
/* =====       ERROR VALIDATION         ===== */
/* ========================================== */

.valid input,
.valid textarea{
    border-color: var(--clr-success);
}

.invalid input,
.invalid textarea{
    border-color: var(--clr-warning);
}

.error {
    color: var(--clr-warning);
}

.success {
    color: var(--clr-success);
}
